<section class="ui raised segment">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Lighthouse Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>County</th>
                    <th>Image</th>
                    <th>Creator</th>
                </tr>
                </thead>
                <tbody>
                {{#each pois}}
                    <tr>
                        <td> {{name}} </td>
                        <td> {{latitude}} </td>
                        <td> {{longitude}}</td>
                        <td> {{county}}</td>
                        <td><img src="{{url}}"style="height:100px;width:150px;"></img></td>
                        <td> {{creator.firstName}} {{creator.lastName}} </td>
                        <td>
                            <a href="/deletePois/{{_id}}" class="ui red icon button">
                                <i class="icon trash"></i>
                            </a>
                            <a href="/showUpdate/{{_id}}" class="ui green icon button">
                                <i class="icon redo"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
    </div>
</section>
