{{>mainmenu _id="updatePois"}}

<section class="ui inverted yellow  segment">
    <div class="ui form">
        <form action="/updatePois/{{pois._id}}" method="POST">
            <div class="ui two column grid">
                <div class="column">
                    <h2 class="ui dividing header">Update your POI</h2>
                    <div class="field">
                        <div class=" field">
                            <label>Poi Name</label>
                            <input value="{{pois.name}}" type="text"  name="name">
                        </div>
                        <div class=" field">
                            <label>Latitude</label>
                            <input value="{{pois.latitude}}"type="text" name="latitude">
                        </div>
                        <div class=" field">
                            <label>Longitude</label>
                            <input value="{{pois.longitude}}" type="text" name="longitude">
                        </div>
                        <div class="eight wide field">
                            <label>County</label>
                            <input value="{{pois.county}}" va type="text"  name="county">
                        </div>
                        <div class="field" >
                            <label>Image URL</label>
                            <input value="{{pois.url}}" type="url"  name="url">
                        </div>
                        <button class="ui blue big submit button">Update Poi</button>
                    </div>
                </div>
                <div class="left floated column" >
                    <h2>Description</h2>
                    <div class="field" >
                        <label>Year built</label>
                        <input value="{{pois.year}}" type="text" name="year"></input>
                    </div>
                    <div class="field" >
                        <label>Tower height</label>
                        <input value="{{pois.height}}"type="text" name="height"></input>
                    </div>
                    <div class="field" >
                        <label>Focal height</label>
                        <input value="{{pois.focalHeight}}" type="text" name="focalHeight"></input>
                    </div>
                    <div class="field" >
                        <label>Range</label>
                        <input value="{{pois.range}}"type="text" name="range"></input>
                    </div>
                    <div class="field" >
                        <label>Info</label>
                        <input value="{{pois.info}}"type="text" name="info"></input>
                    </div>
                </div>
            </div>
        </form>
        {{> error}}
    </div>

</section>
